<form (submit)="searchUser(username)">
  <input [(ngModel)]="username" />
  <button type="submit">Search</button>
</form>
<user *ngIf="user">
	<a href="{{user.html_url}}" target="_blank" class="vcard-avatar">
    <img class="avatar" src="{{user.avatar_url}}&amp;s=200" width="200" height="200">
  </a>

	<h1 class="vcard-names">
		<span class="vcard-fullname" itemprop="name">{{user.name}}</span>
		<span class="vcard-username" itemprop="additionalName">{{user.login}}</span>
	</h1>
	<p><a class="email" href="mailto:{{user.email}}">{{user.email}}</a></p>
</user>

<repo-list>
	<li class="source" *ngFor="#repo of repos" ng-init="showChart = false">
		<div class="source" *ngIf="showChart">
			<p>{{repo.name}}</p>
			<div id="chart{{repo.id}}" class="languages-pie-chart"></div>
		</div>
		<p class="repo">{{repo.name}}</p>
		<a class="languages-btn btn btn-info" (click)="getRepoLangs(repo); showChart=!showChart">{{ showChart ? "hide details" : "show details"}}</a>
		<div class="repo-details" *ngIf="showChart">
			<p class="repo-url"><a href="{{repo.html_url}}" target="_blank" class="mini-repo-list-item css-truncate">{{repo.html_url}}</a></p>
			<p class="repo-description">{{repo.description}}</p>
		</div>
	</li>
</repo-list>
