<div class="user-panel">
	<div class="jumbotron">
		<form name="searchUserForm" class="search-form"
			(ng-submit)="searchUser()" novalidate>
			<input [(ng-model)]="userModel" type="text" class="form-control" placeholder="@username" autocapitalize="off" required />
			<div class="scope-badge"><img src="images/github.ico" height="16"> <b>GitHub</b></div>
			<button type="submit" class="btn btn-primary">Search</button>
			<div class="message">{{userModel}}</div>
		</form>
	</div>

	<!-- User Details -->
	<!-- <user-details ng-show="vm.user.details.login" user="vm.user.details"></user-details> -->
	<!-- User Repos -->
	<!-- <user-repos ng-show="vm.user.repos" repos="vm.user.repos"></user-repos> -->

</div>
