<ul *ngIf="repositories" class="repositories">
  <li class="repository" *ngFor="#repo of repositories">
    <p class="name"><a class="repo-url" href="{{repo.html_url}}" target="_blank" title="{{repo.html_url}}">{{repo.name}}</a></p>
    <div class="detail" *ngIf="repo.showDetail">
      <p class="repo-description">{{repo.description}}</p>
      <p>languages:</p>
      <div id="chart{{repo.id}}" class="languages-pie-chart"></div>
    </div>
    <button class="languages-btn" (click)="getRepositoryLanguages(repo)">{{repo.showDetail ? 'Hide Detail' : 'Show Detail'}}</button>
  </li>
</ul>
