<ul class="repo-list">
<!--<ul class="repo-list" [(ngModel)]="repos">-->
  <!--<li class="source" *ngFor="#repo of repos" ng-init="showChart = false">
    <div class="source" *ngIf="showChart">
      <p>{{repo.name}}</p>
      <div id="chart{{repo.id}}" class="languages-pie-chart"></div>
    </div>
    <p class="repo">{{repo.name}}</p>
    <a class="languages-btn btn btn-info" (click)="getRepoLangs(repo); showChart=!showChart">{{ showChart ? "hide details" : "show details"}}</a>
    <div class="repo-details" *ngIf="showChart">
      <p class="repo-url"><a href="{{repo.html_url}}" target="_blank" class="mini-repo-list-item css-truncate">{{repo.html_url}}</a></p>
      <p class="repo-description">{{repo.description}}</p>
    </div>
  </li>-->
</ul>
